/* Google font Icon */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html{
    outline: solid 1px black;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    align-items: center;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* ← 色＋透過度で淡さを調整 */
    pointer-events: none; /* クリック操作をブロックしない */
    z-index: -1; /* 背景より上、コンテンツより下 */
}

img{
    width: 80%;
}

p{
    word-break: keep-all;
}

main{
    padding-top: 10vh;
}
ul{
    list-style-type: none;
}
li{
    font-size: 1.2rem;
}
li:before{
    font-family: "Material Icons";
    content: "\e5e1";
}

table{
    border-collapse: collapse;
}

th{
    text-align: center;
}

tr{
    border-bottom: solid 1px gray;
}

td{
    padding: 10px;
}

section{
    margin:30px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 2px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-bold{
    font-weight: bolder;
}

.font-big{
    font-size: 1.2rem;
}

.sub_content{
    width: fit-content;
    text-align: left;
    margin: 0 auto;
}

.cont_left{
    text-align: left;
}

.cont_cent{
    text-align: center;
}

.sub_content img{
    display: block;
    width: 80%;
    margin: auto;
}

.set-top{
    vertical-align: top;
}


#header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(240, 255, 240,1);
    z-index: 1000;
}

#header img{
    width: auto;
    height: 6vh;
}


#header_buttons{
    margin-left: auto;
}

#header_buttons a{
    display: block;
    margin: 10px;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    background-color: yellow;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(30, 30, 30, 0.3);
    transform: translateY(0);
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                box-shadow 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

#top_menu{
    display: flex;
}

#top_menu a{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color:black;
    cursor: pointer;
    background-color: yellow;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(30, 30, 30, 0.3);
    transform: translateY(0);
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                box-shadow 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

#top_menu a:hover{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
    background-color: orangered;
    color: white;
}

#header_buttons a:hover{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
    background-color: orangered;
    color: white;
}

#header_contact a{
    display: inline-block;
    font-size: 1rem;
    padding: 5px;
    background-color: darksalmon;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(30, 30, 30, 0.3);
    transform: translateY(0);
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                box-shadow 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

#header_contact a:hover{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
    background-color: brown;
    color: white;
}

#menu_btn{
    display: inline-block;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    background-color: darksalmon;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(30, 30, 30, 0.3);
    transform: translateY(0);
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                box-shadow 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

#menu_btn:hover{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    transform: translateY(3px);
    background-color: brown;
    color: white;
}

#navigation{
    position: fixed;
    display: none;
    top: 12vh;
    right:0;
    z-index: 1000;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#google_map{
    width: 80%;
}


.slide_container{
    width: 700px;
    display: flex;
    align-items: center;
    height: 340px;
    overflow: hidden;
    clip-path: inset(0 round 0 50px 0 50px);
}

.slide_wrapper{
    display: flex;
    animation: slide-flow 30s infinite linear 1s both;
}

.slide{
    width: 300px;
    object-fit:cover;
    border: 1px solid #ddd;
}

@keyframes slide-flow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

.sub_contact{
    display: flex;
}
.sub_contact img{
    width: 30px;
    height: 30px;
}


@media (min-width: 800px) {
    img{
        width: 60%;
    }
    .sub_content img{
        width: 100%;
    }
    #header_buttons a{
        font-size: 1.2rem;
    }
    #header_contact a{
        font-size: 1.2rem;
    }
    #navigation{
        font-size: 1.2rem;
    }
    .font-big{
        font-size: 1.5rem;
    }


}
